<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <LinkTo @route='application'>
        <a class="navbar-brand">Home</a>
    </LinkTo>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <LinkTo @route='search'>
                <li class="nav-item">
                    <a class="nav-link">Search</a>
                </li>
            </LinkTo>
            <LinkTo @route='about'>
                <li class="nav-item">
                    <a class="nav-link">About</a>
                </li>
            </LinkTo>
        </ul>
    </div>
</nav>